.selected-site{height: 20px;padding: 0px 5px; font-size: 14px; border:0;}
.top-navigation-container{width: 100%; position: fixed; top: 52px;}
.nh-description{margin-top: 40px;}
.modal{z-index: 999999;}
.blog-pages-left{background-image: url("/img/quang-cao.png");}
.product-name{float: left; width: 100%;font-size: 20px;font-weight: 700;margin-top: -7px; margin-bottom: 10px;}
.price-table{float: left; width: 100%;margin-top: 5px; margin-bottom: 5px; padding: 3px 10px;background-color:#f5f5f5;border-top:1px solid #e3e3e4;border-bottom:1px solid #e3e3e4;}
.price-table-row{float: left;width: 100%;padding-top: 6px; padding-bottom: 6px;}
.row-label{float: left;width: auto;color: #c4321e;font-weight: 500; font-size: 15px;}
.price-table-column{float: left;padding-left: 32px;padding-right:32px;color:#333;font-weight: 500;}
.input-table-product{float: left;width: 50px; height: 32px; padding: 3px 5px;}\
.input-getL{float: left; width: 60%; margin: 0px 20px;}